---
layout: default
---
		<main>
			<section class="section d-midWrap">
				<hgroup class="section-hgroup">
					<span class="section-hgroup-span">my little</span>
					<h1 class="section-hgroup-h1">Mademoiselle</h1>
				</hgroup>
				
				<div class="section-gallery">{% for i in (1..3) %}
					<figure class="section-gallery-figure"><span class="section-gallery-figure_dock"></span></figure>{% endfor %}
				</div>
				
				<div class="section-text"><p class="section-text_dock">&nbsp;<!--We offer <span class="d-handwritten">Goddess Braids</span> at R___ only!--></p></div>
			</section>
			
			<section class="bonus">
			</section>
		</main>
