---
layout: default
---
		<main>
			<header class="header d-midWrap">
				<hgroup class="header-hgroup">
					<span class="header-hgroup-span">my little</span>
					<h1 class="header-hgroup-h1">Mademoiselle</h1>
				</hgroup>
			</header>
			
			<section class="brand">
				<h4 class="brand-title"><span class="d-handwritten">Mademoiselle</span> the Brand</h4>
				
				<div class="brand-content">
					<p class="brand-content-p">We have our own brand of custom braids accessories</p>
					<img src="/assets/images/placeholder-3x1.png" class="brand-content-media" />
					<p class="brand-content-p">Buy in these 19 store points</p>
					
					<svg class="brand-content-map"></svg>
				</div>
			</section>
			
			<section class="solutions">
				<h4 class="solutions-title">Braids Solutions</h4>

				<div class="solutions-content"><ul class="solutions-content-list">{% for file in site.data.braid-solutions %}{% assign iFile = forloop.index %}{% for data in file %}
					<li class="solutions-content-list-item"><div class="solutions-content-service">
						<figure class="solutions-content-service-figure is-nthChild1">{% for content in data[1] %}{% for contentMedia in content.media %}{% if contentMedia contains ".png" %}
							<img src="/assets/images/{{ contentMedia }}" class="solutions-content-service-figure-media" />{% elsif contentMedia contains ".mp4" %}
							<video class="solutions-content-service-figure-media" controls preload="none" loading="lazy"><source src="/assets/videos/{{ contentMedia }}" type="video/mp4" /></video>{% endif %}{% endfor %}{% endfor %}
						</figure>
						
						<div class="solutions-content-service-details">
							<h5 class="solutions-content-service-details-h5">{{ data[0] }}</h5>
							<p class="solutions-content-service-details-p">{% for content in data[1] %}{{ content.description }}{% endfor %}</p>
							
							<div><span class="u-btnCta">book now</span></div>
							
							<div class="u-btnNav_wrap"><span class="u-btnNav" onclick="doToggleMedia({{ iFile }})">&lt;</span><span class="u-btnNav" onclick="doToggleMedia({{ iFile }})">&gt;</span></div>
							
							<div class="u-btnStars_wrap">{% for i in (1..5) %}<span class="u-btnStars" onclick="do5starsReview(this)">&star;</span>{% endfor %}</div>
						</div>
					</div></li>{% endfor %}{% endfor %}
				</ul></div>
			</section>
		</main>
