---
layout: default
---
		{% for file in site.data.registry %}
		<input type="radio" id="rdb4category{{ forloop.index }}" name="rdb4categories"{% if forloop.first %} checked{% endif %} />{% endfor %}
		<main>
			<section class="registry">
				<header class="registry-header">{% for file in site.data.registry %}
					<label for="rdb4category{{ forloop.index }}" class="registry-header-title">{% for data in file %}{{ data[0] }}{% endfor %}</label>{% endfor %}
				</header>

				<section class="registry-content">
				{% for file in site.data.registry %}
					<section class="registry-products nthChild{{ forloop.index }}">{% for data in file %}{% for dataInner in data[1] %}
						<div class="registry-products-item {% for content in dataInner %}{% for vContent in content[1] %}{% if vContent.platform == 'off' %}is-off{% endif %}{% endfor %}{% endfor %}">{% for content in dataInner %}
							<img src="/assets/images/registry/{% for vContent in content[1] %}{{ vContent.image }}{% endfor %}" class="registry-products-item-image" />
							<h5>{{ content[0] }}</h5>
							<p class="registry-products-item-description">{% for vContent in content[1] %}{{ vContent.description }}{% endfor %}</p>
							<span class="registry-products-item-price">{% for vContent in content[1] %}{{ vContent.price }}{% endfor %}</span>
							{% endfor %}
						</div>{% endfor %}{% endfor %}
					</section>{% endfor %}
					
					<footer class="registry-footer">
						&copy; Copyrights 2025: House of Mother. All rights reserved.
					</footer>
				</section>
			</section>
		</main>
		
		<script src="/assets/scripts/{{ page.layout }}-dot-babylon19-dot-org.js"></script>