---
layout: default
---
		<main>
			<section class="thedress">
				<div class="thedress-waitlist CSScentered" style="background-image: url('/assets/images/dymund.gif');">
					<!--<img src="/assets/images/dymund.gif" />-->
				</div>
				<div class="thedress-gallery CSScentered">
					<div class="d-snapPoints-grandParent"><div class="d-snapPoints-parent">{% for i in (1..4) %}
						<figure class="d-snapPoints" style="background-image: url('/assets/images/thedress_{{ i }}.jpg');"><!--<img src="/assets/images/thedress_{{ i }}.jpg" />--></figure>{% endfor %}
					</div></div>
				</div>
			</section>
		</main>