---
layout: default
---
		<input type="checkbox" id="chbx4menu" name="chbx4menu" />
		{% for file in site.data.testimonials %}
		<input type="radio" id="rdb4quote{{ forloop.index }}" name="rdb4quotes"{% if forloop.first %} checked{% endif %} />{% endfor %}
		<main>
			<span class="bgRay"></span>

			<nav class="menu d-midWrap">
				<h2 class="menu-tagline d-cssCentered">B19 is an feminist organization, based in three locations: South Africa, India and USA.<br /><br /></h2>
				
				<div class="menu_dock">
					<a href="https://fundraising.babylon19.org">Donate to bring #PowerToWomen</a>
					<br />
					<a href="https://wethevoices.babylon19.org">Add your say to #WeTheVoices</a>
					<br />
					<a href="https://chaptershe.babylon19.org">Start your journey with #ChapterShe</a>
					<br />
					
					<br />
					<a href="mailto:madam.ella@babylon19.org">Email Madam Ella</a>
					<br />
					<a href="https://cadets.babylon19.org">Meet the Cadets</a>
					<br />
					<a href="https://volunteer.babylon19.org">And Volunteer</a>
				</div>
			</nav>
			
			<header class="header d-midWrap">
				<a href="https://babylon19.org" class="header-logo">
					<img class="header-logo-img" src="/assets/images/logo_word_black.png" />
				</a>
				
				<span class="d-spacer"></span>
				
				<label for="chbx4menu" class="header-button"><img src="/assets/images/icon_menu_black.png" class="header-button-img" /></label>
			</header>
			
			<section class="banner d-midWrap">
				<hgroup class="banner-hgroup">
					<h1 class="banner-hgroup-title">Come Honor the Matriachy. Power to Women!</h1>
					<blockquote class="banner-hgroup-quote">
						<q class="banner-hgroup-quote-q">When women rise, entire communities rise with them across the globe. Empowered women empower the world.</q>
						<cite class="banner-hgroup-quote-cite">-- Madam Ella</cite>
					</blockquote>
				</hgroup>
				
				<figure class="banner-figure">
					<div class="uBubble is-small">
						<figure class="uBubble-portrait d-cssCentered">
							<a href="https://volunteer.babylon19.org"><img src="/assets/images/purple-creed.png" class="uBubble-portrait-img" /></a>
							<figcaption class="uBubble-portrait-caption d-curvedText">{% assign vCurvedText = "Dear Cadet, Mother is Calling You!" | split: "" %}{% for i in vCurvedText %}{% if forloop.index > 35 %}{% break %}{% endif %}
								<span>{{ i | upcase }}</span>{% endfor %}
							</figcaption>	
						</figure>
						<span class="uBubble-icon"></span>
					</div>
	
					<img src="/assets/images/website-image-1.png" />
				</figure>
			</section>
			
			<section class="u-section d-midWrap">
				<h5 class="u-section-subtitle">What We Do</h5>
				
				<ul class="services-list">{% for file in site.data.services %}
					<li class="services-list-item"><div>{% for data in file %}
						<h5 class="u-section-title">{{ data[0] }}</h5>
						
						<div>
							<p class="services-box-text-p">{% for content in data[1] %}{{ content.text }}{% endfor %}</p>
							<a href="{% for content in data[1] %}{{ content.link }}{% endfor %}" class="u-section-link services-box-text-a">{% for content in data[1] %}{{ content.cta }}{% endfor %} >></a>
						</div>
					{% endfor %}</div></li>{% endfor %}
				</ul>
			</section>
			
			<section class="coffee u-section d-midWrap"><div class="coffee_dock">
				<h5 class="coffee-title u-section-title">Book a Chat with Mother</h5>

				<div>
					<p>Thinking of joining or collaborating? Schedule a private meeting with Madam Ella.</p>
				</div>
				
				<div class="u-section-cta">
					<a href="mailto:madam.ella@babylon19.org" class="u-section-cta-button" title="Email Mother">Message Madam Ella</a>
					<!--<a href="https://wa.me/+27630478534" class="u-section-cta-button" title="Text Mother on Whatsapp">Message Madam Ella</a>-->
					<a href="https://cadets.babylon19.org" class="u-section-cta-button" title="Discover the Team">Meet the Cadets</a>
					<!--<a href="mailto:hello@babylon19.org" class="u-section-cta-button">Email the Team</a>-->
				</div>
			</div></section>
			
			<section class="partners u-section d-midWrap">
				<header class="partners-header">
					<figure class="partners-header-figure">
						<img src="/assets/images/website-image-2.png" class="partners-header-figure-img" />
					</figure>
					
					<hgroup class="partners-header-hgroup">
						<h5 class="u-section-subtitle">Resources</h5>
						<h3 class="partners-header-hgroup-title u-section-title">Discover the invisible helping hands behind our success. Get to know our allies!</h3>
					</hgroup>
				</header>
				
				<div class="partners-list_wrap"><ul class="services-list">{% for file in site.data.partners %}
					<li class="services-list-item"><div class="partners-box">{% for data in file %}
						<h5 class="partners-box-title u-section-title">{{ data[0] }}</h5>
						
						<div>
							<p class="services-box-text-p">{% for content in data[1] %}{{ content.text }}{% endfor %}</p>
						</div>
						
						<div class="partners-box-links">{% for content in data[1] %}{% for cLinks in content.links %}
							<del>{% for cLink in cLinks %}{{ cLink[0] }}{% endfor %}</del>
							<!--<a href="{% for cLink in cLinks %}{{ cLink[1] }}{% endfor %}" class="u-section-link">{% for cLink in cLinks %}{{ cLink[0] }}{% endfor %}</a>-->
							<br />
						{% endfor %}{% endfor %}</div>
					{% endfor %}</div></li>{% endfor %}
				</ul></div>
				
				<div class="u-section-cta">
					<span class="u-section-cta-button" title="Apologies, PDFs to be uploaded soon..."><del>Download All</del></span>
				</div>
			</section>
			
			<section class="quotes u-section d-midWrap">
				<h3 class="u-section-title">Words from the Cadets</h3>
				
				<ul class="quotes-list">{% for file in site.data.testimonials %}
					<li class="quotes-list-item nthChild-{{ forloop.index }}"><blockquote class="quotes-blockquote">{% for data in file %}
						<q class="u-section-title">{{ data[1] }}</q>
						<cite>-- {{ data[0] }}</cite>
					{% endfor %}</blockquote></li>{% endfor %}
				</ul>
				
				<div class="quotes-nav">{% for file in site.data.testimonials %}
					<label for="rdb4quote{{ forloop.index }}" class="quotes-nav-button"></label>{% endfor %}
				</div>
			</section>
			
			<section class="faq u-section d-midWrap">
				<h3 class="faq-title u-section-title">Frequently Asked Questions</h3>

				<div class="faq-content">{% for file in site.data.faq %}
					<ul class="faq-content-list">{% assign iChbx = forloop.index %}{% for data in file %}{% for s1Data in data[1] %}{% assign jChbx = forloop.index %}
						<li class="faq-content-list-item">{% for s2Data in s1Data %}
							<label for="chbx4GK{{ iChbx }}{{ jChbx }}" class="faq-GKtitle">{{ s2Data[0] }}</label>
							
							<input type="checkbox" id="chbx4GK{{ iChbx }}{{ jChbx }}" class="chbx4GKs" name="chbx4GKs" />
							<ul class="faq-content-sublist">{% for s3Data in s2Data[1] %}{% assign kRdb = forloop.index %}
								<li class="faq-content-sublist-item">{% for s4Data in s3Data %}
									<input type="radio" id="rdb4DK{{ iChbx }}{{ jChbx }}{{ kRdb }}" class="rdb4DKs" name="rdb4DKs"{% if iChbx == 2 and jChbx == 1 and kRdb == 1 %} checked{% endif %} />
									
									<label for="rdb4DK{{ iChbx }}{{ jChbx }}{{ kRdb }}" class="faq-DKtitle"><span class="faq-DKtitle-icon">&nbsp;</span>{{ s4Data[0] }}</label>
									
									<p class="faq-DKtext">{{ s4Data[1] }}</p>
								{% endfor %}</li>{% endfor %}
							</ul>{% endfor %}
						</li>{% endfor %}{% endfor %}
					</ul>{% endfor %}
				</div>
			</section>
			
			<section class="poems u-section d-midWrap">
				<h5 class="u-section-subtitle">Selected Poems</h5>
				
				<div class="poems-list_wrap"><ul class="services-list">{% for file in site.data.poems %}
					<li class="services-list-item"><div>{% for data in file %}
						<h5>{% for content in data[1] %}{{ content.date }}{% endfor %}</</h5>
						<blockquote class="">
							<q class="u-section-title">{% for content in data[1] %}{{ content.exerpt }}{% endfor %}</q>
							<cite>-- {{ data[0] }}</cite>
						</blockquote>

						<br />
						<a href="{% for content in data[1] %}{{ content.link }}{% endfor %}" class="u-section-link" download>Download full poem</a>
					{% endfor %}</div></li>{% endfor %}
				</ul></div>
				
				<div class="poems-nav">
					<del>1</del>
					<del>2</del>
					<del>3</del>
					<del>Next Page</del>
				</div>
			</section>
			
			<section class="join u-section d-midWrap">
				<figure class="join-figure"><img src="/assets/images/website-image-3.png" /></figure>
				<h5 class="join-title u-section-title">Volunteer your Time</h5>
				<p class="join-text"><span class="d-purple">Everybody helps!</span> <br />Some donate clothes to orphanages on Christmas. Us, we guard the matriarchy! <br /><br />Are you ready to start your feminist journey? Volunteer a few hours a month. Together, let's mold a world of women by women!</p>
				
				<div class="u-section-cta">
					<a href="https://volunteer.babylon19.org" class="u-section-cta-button" href="Volunteer a few hours a month.">Join the Cadets</a>
				</div>
			</section>
			
			<footer class="footer u-section d-midWrap">
				<div class="footer_dock">
					<a href="https://instagram.com/B19andWard66" class="u-section-link">@B19andWard66</a>
					<a href="https://instagram.com/B19andMother" class="u-section-link">@B19andMother</a>

					<span class="d-spacer"></span>

					<p>&copy; Copyrights 2025: <a href="https://babylon19.org">Babylon19</a>. All rights reserved.</p>
				</div>
				<hr class="footer-hr" />
			</footer>
		</main>
		
		<!--
		<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.min.js"></script>

		<script src="/assets/scripts/wethevoices-dot-babylon19-dot-org.js"></script>
		-->
